<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Clean Ocean Initiative</title>
  <link rel="stylesheet" href="../static/style.css">
  
</head>
<body>
    <div class="topnav">
        <a class="active" href="index.html">Home</a>
        <a href="donation.html">Donate</a>
        <a href="ranking.html">Rankings</a>
    </div>
      
    <header class="hero">
        <div class="container">
          <h1>Save Our Oceans</h1>
          <p>Join us in removing trash from our oceans, rivers, and beaches.</p>
          <a href="donation.html" class="cta-button">Donate Now</a>
          
          <br><br>

          <div class="stats-grid">
            <div class="stat">
              <h3 id="totalTrash">{{totalTrashRemoved}}</h3>
              <p style="font-size: large;">Kilograms of trash removed</p>
            </div>
            <div class="stat">
              <h3 id="totalMoney">{{totalMoneyDonated}}</h3>
              <p style="font-size: large;">Donated</p>
            </div>
            <div class="stat">
              <h3 id="totalDonors">100</h3>
              <p style="font-size: large;">Volunteers</p>
            </div>
          </div>
        </div>
        <br><br>
        <div class="container">
          <h2 style="color: whitesmoke;">How It Works</h2>
          <div class="steps">
            <div style="color: black;" class="step">
              <h3>Step 1</h3>
              <p>Make a donation to help fund cleanup efforts.</p>
            </div>
            <div style="color: black;"class="step">
              <h3>Step 2</h3>
              <p>Volunteers and partners remove trash from water sources.</p>
            </div>
            <div style="color: black;" class="step">
              <h3>Step 3</h3>
              <p>Track your impact on our rankings page.</p>
            </div>
          </div>
        </div>  
    </header>
    
  <main>    
  <footer>
    <div class="container">
      <p>&copy; 2024 Clean Ocean Initiative. All rights reserved.</p>
    </div>
  </footer>
  <script src="../static/index.js" defer></script>
</body>
</html>